body{
    text-align: center;
    font-size: medium;
    background-color: green;
}

#username{
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.button-class{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    
}